:root{
    --color-amarillo-primario: #ffc107;
}


body{
    background-color: black !important;
    margin: 0rem .4rem !important;
}
*{
    color: white !important;
    font-family: 'Oxanium', cursive;
}
/* my nav */
.my-logo{
    width: 7rem !important;
}
.boton-nav{
    background-color: var(--color-amarillo-primario) !important;
}

h1{
    font-weight: 600 !important;
}
h2{
    font-weight: 400 !important;
}
h3{
    font-weight: 300 !important;
}
p{
    font-weight: 200 !important;
}




/* my hero */


.container-img-hero::before{
    content: "";
    position: absolute !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: radial-gradient(transparent 0, rgb(0, 0, 0) 120%);
    background-color: rgba(0, 0, 0, 0.3);
    background-size: cover;
    
}




/* explore */
.stars{
    position: relative;
    /* background-image: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/gettyimages-85757065-1649322336.jpg); */
    background-image: url(https://cdn.pixabay.com/photo/2020/03/30/13/29/space-4984262_960_720.jpg);
    background-size: 900px;
    background-repeat: no-repeat !important;
    background-position: center;
    height: 50vh;
    
}
.stars::before{
    content: "";
    position: absolute !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: radial-gradient(transparent 0, rgb(0, 0, 0) 65%);
    background-size: cover;
}
.my-icon{
    font-size: 2rem;
    color: var(--color-amarillo-primario) !important;
}

/* description */
.container-description-1 h2{
    color: var(--color-amarillo-primario) !important;
}

.my-img-luna{
    transform: rotate(180deg);
}




/* explore */
.my-img-explore-item{
    min-width: 4rem !important;
    transform: skewX(-15deg);
    border-bottom: solid #ffc107 2px;
    margin: 2rem;
    padding: 0 !important;
}
.explore{
    width: 100% !important;
}



/* news */
.news-items{
    border-left: solid 5px var(--color-amarillo-primario);
    border-bottom: solid 5px var(--color-amarillo-primario);
    margin-bottom: 2rem;
    padding: 1rem;
}
.img__sticky{
    position: sticky !important;
    top: 10%;
    min-height: 15rem;
}

.news__a{
    text-decoration: none;
}

/* footer */
.redes{
    color: #ffc107;
}
.divLogoFooter{
    min-height: 20rem !important;
    background-image: url(https://s1.eestatic.com/2021/10/06/ciencia/medio-ambiente/617449818_210913166_1706x960.jpg);
    background-size: cover;
}
.cajaImgFooter__logo{
    width: 8rem !important;
    position: relative;
    z-index: 2;
}
.divLogoFooter::after{
    content: "";
    position: absolute !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, rgba(0,0,0,0.7) 7%, rgba(1,76,114,0) 50%, rgba(1,114,153,0) 51%, rgba(0,0,0,0.9) 90%);
    background-size: cover;
    
}
.my-footer{
    height: 5rem !important;
}


/* media query */
@media (max-width:780px){
   
    
    
    
}
@media (min-width:1024px){
    .container-titulo-hero{
        left: 0;
        margin-left: 5rem;
    }
    .my-img-hero{
        max-width: 400px !important;
    }
    .inicio{
        margin-top: 5rem !important;
    }
    .stars{
        background-size: 950px;
    }
  
}    
@media (min-width:1440px){
    .container-titulo-hero{
        left: 0;
        margin-left: 9rem;
    }
    .my-img-hero{
        max-width: 550px !important;
    }
    .inicio{
        margin-top: 10rem !important;
    }
    .stars{
        background-size: 1250px;
    }
   
}
@media (min-width:1441px){
    .container-titulo-hero{
        left: 0;
        margin-left: 25rem;
    }
    .my-img-hero{
        max-width: 990px !important;
    }
    .inicio{
        margin-top: 10rem !important;
    }
    .stars{
        background-size: 2300px;
    }
    .divLogoFooter{
        min-height: 50rem !important;
    }
    .cajaImgFooter__logo{
        width: 15rem !important;
    }
    .sectionContainerFooter{
        height: 10rem;
    }
}